a {
    color: #FFF;
    font-size: 18px;
    font-family: monospace;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    border-bottom: 2px solid #18ffff;
    color: #18ffff;
}

.jeden {
    text-align: center;
}

.bg {
    background-image: url("https://i.imgur.com/hcTw1M5.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    }